<div class="container d-flex justify-content-center mt-5">
  <div class="w-100" style="max-width: 1280px">
    <p class="text-center fs-4 mb-4">Listagem de Passageiros</p>

    <div class="mb-3 text-end">
      <a routerLink="/operador/passageiro/cadastro" class="btn btn-success"
        >Novo Cadastro</a
      >
    </div>

    <form class="row g-2 align-items-center mb-4" (ngSubmit)="aplicarFiltros()">
      <div class="col-auto">
        <input
          type="text"
          [(ngModel)]="filtroNome"
          name="filtroNome"
          class="form-control"
          placeholder="Filtrar por nome"
        />
      </div>
      <div class="col-auto">
        <input
          type="text"
          [(ngModel)]="filtroEmail"
          name="filtroEmail"
          class="form-control"
          placeholder="Filtrar por e-mail"
        />
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">
          <i class="bi bi-search"></i> Filtrar
        </button>
      </div>
    </form>

    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="table-light">
          <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let passageiro of passageiros">
            <td>{{ passageiro.id }}</td>
            <td>{{ passageiro.nome }}</td>
            <td>{{ passageiro.cpf }}</td>
            <td>
              <a
                [routerLink]="['/operador/passageiro/edicao/', passageiro.id]"
                class="btn btn-warning"
                >Edição</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
