<div class="container d-flex justify-content-center mt-5">
  <div class="w-100" style="max-width: 1280px">
    <p class="text-center fs-4 mb-4">Listagem Works!</p>

    <div class="mb-3 text-end">
      <a routerLink="/cadastro" class="btn btn-success">Novo Cadastro</a>
    </div>

    <div>
      <input
        type="text"
        [(ngModel)]="filtroNome"
        placeholder="Filtrar por nome"
      />
      <input
        type="text"
        [(ngModel)]="filtroEmail"
        placeholder="Filtrar por e-mail"
      />
      <button (click)="aplicarFiltros()">Filtrar</button>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="table-light">
          <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let passageiro of passageiros">
            <td>{{ passageiro.id }}</td>
            <td>{{ passageiro.nome }}</td>
            <td>{{ passageiro.cpf }}</td>
            <td>
              <a
                [routerLink]="['/edicao', passageiro.id]"
                class="btn btn-warning"
                >Edição</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
