<div class="container d-flex justify-content-center mt-5">
  <div class="w-100" style="max-width: 1280px">
    <p class="text-center fs-4 mb-4">Listagem de Empresas</p>

    <div class="mb-3 text-end">
      <a routerLink="/operador/empresa/cadastro" class="btn btn-success"
        >Novo Cadastro</a
      >
    </div>

    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="table-light">
          <tr>
            <th>Código</th>
            <th>Fantasia</th>
            <th>CNPJ</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empresa of empresas">
            <td>{{ empresa.id }}</td>
            <td>{{ empresa.fantasia }}</td>
            <td>{{ empresa.cnpj }}</td>
            <td>
              <a
                [routerLink]="['/operador/empresa/edicao', empresa.id]"
                class="btn btn-warning"
                >Edição</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
