<div class="container d-flex justify-content-center mt-5">
  <div class="w-100" style="max-width: 1280px">
    <p class="text-center fs-4 mb-4">Cadastro de Tipo de Usuário</p>

    <form (ngSubmit)="salvar()">
      <div class="input-group mb-3">
        <span class="input-group-text">Descrição:</span>
        <input
          class="form-control"
          name="descricao"
          type="text"
          [(ngModel)]="tipousuario.descricao"
        />
      </div>
      <button class="btn btn-primary w-100" type="submit">Gravar</button>
    </form>
  </div>
</div>
