<div class="container d-flex justify-content-center mt-5">
  <div class="w-100" style="max-width: 1280px">
    <p class="text-center fs-4 mb-4">Edição de Empresa</p>

    <form #formEmpresa="ngForm" (ngSubmit)="salvar()" novalidate>
      <div class="mb-3">
        <label class="form-label">Fantasia:</label>
        <input
          name="fantasia"
          type="text"
          [(ngModel)]="empresa.fantasia"
          class="form-control"
          required
          #fantasia="ngModel"
        />
        <div *ngIf="fantasia.invalid && fantasia.touched" class="text-danger">
          O campo Fantasia é obrigatório.
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">CNPJ:</label>
        <input
          name="cnpj"
          type="text"
          [(ngModel)]="empresa.cnpj"
          class="form-control"
          mask="00.000.000/0000-00"
          required
          #cnpj="ngModel"
        />
        <div *ngIf="cnpj.invalid && cnpj.touched" class="text-danger">
          O campo CNPJ é obrigatório.
        </div>
      </div>

      <button type="submit" class="btn btn-primary w-100" [disabled]="formEmpresa.invalid">
        Gravar
      </button>
    </form>
  </div>
</div>
