<div class="container d-flex justify-content-center mt-5">
  <div class="w-100" style="max-width: 1280px">
    <p class="text-center fs-4 mb-4">Edição de Tipo de Usuário</p>

    <form (ngSubmit)="salvar()">
      <div class="mb-3">
        <label class="form-label">Descrição:</label>
        <input
          name="descricao"
          type="text"
          [(ngModel)]="tipousuario.descricao"
          class="form-control"
        />
      </div>
      <button type="submit" class="btn btn-primary w-100">Gravar</button>
    </form>
  </div>
</div>
