<div class="container d-flex justify-content-center mt-5">
  <div class="w-100" style="max-width: 1280px">
    <p class="text-center fs-4 mb-4">Edição de Tipo de Usuário</p>

    <form #formTipoUsuario="ngForm" (ngSubmit)="salvar()" novalidate>
      <div class="mb-3">
        <label class="form-label">Descrição:</label>
        <input
          name="descricao"
          type="text"
          [(ngModel)]="tipousuario.descricao"
          class="form-control"
          required
          #descricao="ngModel"
        />
      </div>
      <div *ngIf="descricao.invalid && descricao.touched" class="text-danger mb-2">
        A descrição é obrigatória.
      </div>
      <button type="submit" class="btn btn-primary w-100" [disabled]="formTipoUsuario.invalid">
        Gravar
      </button>
    </form>
  </div>
</div>
